body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightseagreen;
}
header {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    margin: 0%;
    border: none;
}
p {
    color:rebeccapurple;
    padding: 60px;
    padding-top: 5px;
    font-weight: bolder;
}
h2 {
    text-align: center;
    color:white;
}
button{
        margin: 0;
        position: absolute;
        left: 49.5%;
}